
<header>
    <div class="header_div">
    <h1> {{title}} </h1>
     <img src="https://www.creativefabrica.com/wp-content/uploads/2020/12/19/kawaii-cloud-illustration019-Graphics-7246586-1.png" alt="">
     <div class= "cloud_img_1"><img  src="https://c.tenor.com/5j_unJa3KHEAAAAi/rainbows-clouds.gif" alt=""></div>
    </div>
    <a href="/">Weather</a>
    <a href="/help">Help</a>
    <a href="/about">About</a>
    

</header>